@page
@model First2TIP_G_09_2020_KSZ.Pages.Moja1Model
@{
}

<div class="container">
    <p>Witamy na mojej wspaniałej stronie</p>
    <div class="badge-light p-2">Dzisiaj mamy: @DateTime.Now.ToString("dd-m-yyyy")</div>
</div>

