@page
@model First2TIP_G_09_2020_KSZ.Pages.zadankoModel
@{
}

<div style="background-color: yellow">
    <h1>Kacper Szczudło</h1>
    <h2>Klasa 2 TIP/G</h2>
    <h3>Rok szkolny 2020/2021</h3>
</div>
<div class="border border-info p-3">
    <div class="badge-light p-2">Dzisiaj mamy: @DateTime.Now.ToString("dd-m-yyyy")</div>
</div>
