        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Aria , sans-serif;
        }
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #23242a;
            font-size: small;

        }
        .box{
            position: relative;
            width: 1300px;
            height: 850px;
            background: #1c1c1c;
            border-radius: 8px;
            overflow: hidden;
        }
        .box::before{
            content:'';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 1300px;
            height: 850px;
            background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
            transform-origin: bottom right;
            animation: animate 6s linear infinite;
        }
        .box::after{
            content:'';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 1300px;
            height: 850px;
            background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
            transform-origin: bottom right;
            animation: animate 6s linear infinite;
            animation-delay: -3s;
        }
        @keyframes animate{
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }
        .form{
            position: absolute;
            inset: 2px;
            border-radius: 8px;
            background-color: #28292d;
            z-index: 10;
            padding: 80px 40px;
            display: flex;
            flex-direction: column;
        }
        .form h2{
            color: #45f3ff;
            font-weight: 500;
            text-align: center;
            letter-spacing: 0.1em;
        }
        .inputBox{
            position: relative;
            width: 300px;
            margin-top: 25px;
            
        }

       
        .inputBox i{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: #45f3ff;
            border-radius: 4px;
            transition: 0.5s;
            pointer-events: none;
            z-index: 9;
        }
        .inputBox input:valid ~ i,
        .inputBox input:focus ~ i
        {
            height: 44px;
        }
        .links{
            position: relative;
            font-size: 1em;
            color: #8f8f8f;
            text-decoration: none;
            overflow: scroll;
            overflow-x: hidden;
        }
        .links a{
            position: relative;
             font-size: 1em;
             color: #8f8f8f;
             text-decoration: none;
         }
        .links a:hover,
        .links a:nth-child(2)
        {
            color: #45f3ff;
        }
        button[type="submit"]{
            border: none;
            outline: none;
            background: #45f3ff;
            padding: 11px 25px;
            width: 16%;
            margin-top: px;
            border-radius: 4px;
            font-weight: 600;
            cursor: pointer;

        }
        #menu{
            width: 16.6%;
            float: left;
        }
        td { 
            border: 1px solid #8f8f8f; 
            padding: 5px;
        }
        h4{
            text-align: center;
        }
        button {
            background-color: #45f3ff;
        }
        #flaga{
            width: 140px;
        }
        #hov:hover{
            background-color: grey;
        }
        #baner{
            width: 800px;
            text-align: center;
            margin-top: -70px;
        }