@page
@model MyApp.Namespace.IndexModel
@{
}
@* <!DOCTYPE html>
<html lang="pl">
    <head>
        <title>Siema</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="site.css" rel="stylesheet">
    </head>
    <body>
    <h1>To jest zwykła strona statyczna</h1>
    <p>Dzisiaj mamy: @DataTime.Now</p>
    </body>
</html> *@